.displayNone {
    display: none;
}
.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c90303;
    ul {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 4rem;
       list-style: none;

       a {
           text-decoration: none;
           color: black;
           li {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0 1rem;
    
            &:hover {
                color: wheat;
                cursor: pointer;
            }
       }

    }
   }
   button, img {
       height: 4.1rem;
       width: 5rem;
       
       background: transparent;
       border: none;

       &:hover {
           cursor: pointer;
       }
   }
   .account {
       display: flex;
       align-items: center;

       img {
           object-fit: cover;
           border-radius: 999%;
           height: 50px;
           width: 50px;
       }
       span {
           margin: 0 0.5rem;
       }
   }
}

@media(max-width: 700px) {
    .appHeader {
        ul {
            justify-content:flex-end;
        }
        .account {
            flex-direction: column;
            img {
                width: 25px;
                height: 25px;
            }
            span {
                text-align: center;
                font-size: small;
            }
        }
    }
}

@media(max-width: 476px) {
    .appHeader {
        ul {
            a {
                li {
                    font-size: 15px;
                    margin: 0 0.3rem;
                }
            }
        }
        .account {
            span{
                display: none;
            }
        }
    }
}